<div className="documentation">
  <div className="documentHeader">About Project</div>
  <div className="topicRow">
    <div className="topicLabel">Tools & Technologies</div>
    <div className="topicDesc">
      <p>Angular - 7</p>
      <p>ngrx, dataserives, gh-pages</p>
      <p>HTML, CSS, SASS</p>
      <p>API : https://reqres.in/api/users</p>
      <p>GitHub : https://github.com/sijujacobs/impetus_angular7</p>
      <p>Live Demo : https://sijujacobs.github.io/impetus_angular7/user</p>
    </div>
  </div>
</div>
