ul {
  list-style-type: none;
  li {
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 50px auto;
    border: 1px solid rgb(133, 125, 125);

    p {
      font-weight: bold;
      margin: 10px 0 0 15px;
    }
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}
